{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block header %}
    <h1>Create an Account</h1>
{% endblock %}

{% block content %}
<!-- Register Form -->
<form method="POST" action="/register">
    <label for="email">Email:</label>
    <input type="email" id="register-email" name="email" required>
    
    <label for="username">Username:</label>
    <input type="text" id="register-username" name="username" required>
    
    <label for="password">Password:</label>
    <div class="password-container">
        <input type="password" id="register-password" name="password" required>
        <i class="fa fa-eye toggle-password" data-target="#register-password"></i>
    </div>
    
    <button type="submit">Register</button>
</form>

    <p>Already have an account? <a href="/login">Login here</a></p>
{% endblock %}
